Package: mosh-dbgsym
Source: mosh
Version: 1.3.2-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Keith Winstein <keithw@mit.edu>
Installed-Size: 2637
Depends: mosh (= 1.3.2-2)
Section: debug
Priority: optional
Description: debug symbols for mosh
Build-Ids: 1e9a405d0740c96bb7d1b86d0adde533f6446b0f 60b7ff145442ea7d43ff5da61ca164c3823445ba
